<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection properties - Driver, URL, user, password -->
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <property name="hibernate.connection.url">jdbc:h2:./data/store</property>
    <property name="hibernate.connection.username">lawyer</property>
    <property name="hibernate.connection.password">coolpwd</property>    
    <!-- Use the C3P0 connection pool provider -->
    <property name="hibernate.c3p0.min_size">3</property>
    <property name="hibernate.c3p0.max_size">10</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.idle_test_periods">3000</property>
    <!-- Dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
    <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- Disable the second-level cache -->
    <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <!-- Outputs the SQL queries, should be disabled in Production -->
    <property name="hibernate.show_sql">true</property>
    <!-- Create DB & Tables if not exist -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Using the new generator -->
    <property name="hibernate.id.new_generator_mappings">true</property>
    <!-- Mappings -->
    <mapping class="us.waybright.legaltasktrackerfx.domain.Client" />
    <mapping class="us.waybright.legaltasktrackerfx.domain.Account" />
    <mapping class="us.waybright.legaltasktrackerfx.domain.BillingAddress" />
    <mapping class="us.waybright.legaltasktrackerfx.domain.PayRate" />
    <mapping class="us.waybright.legaltasktrackerfx.domain.Activity" />
    <mapping class="us.waybright.legaltasktrackerfx.domain.Expense" />
  </session-factory>
</hibernate-configuration>
